

body{
    margin: auto;

}
#navbar{
    width: 100%;
    height: 200px;
    border: 1px solid black; 
}
#Jewelary{
    display: grid;
    grid-template-columns: 20% 80%;
    border: 1px solid black;
}
#product{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 20px;
    margin: auto;

}
#product>div{
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#product>div>img{
    width: 200px;

}