
#display{
    width: 95%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    gap: 40px;
    padding: 40px 0px 40px 0px;
}
#display>div>img{
    width: 500px;
    margin-left: 100px;
}
#display>div>img:hover{
    transform:scale(1.5);
}
#display>div>p{
    font-size: x-large;
}
#display>div>button{
    padding: 10px;
    background-color: rgb(19, 187, 187);
    
}
#display>div>button:hover{
    cursor: pointer;
    background-color: rgb(13, 203, 13);
    
}
