/*---------------------------------------------------- footer  ---------------------------------------------- */

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#cardAboveFooter{
    width: 97%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 30px;
}
#cardAboveFooter>div>a>img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
#cardAboveFooter>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cardAboveFooter>div>h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    
}
#cardAboveFooter>div>h2+p{
    margin-top: -10px;
}
#cardAboveFooter>div>a{
    text-decoration: none;
    color: black;
}
#cardAboveFooter>div>a>p{
    border: 1px solid dimgray;
    padding: 5px;
    width: fit-content;
    letter-spacing: 4px;
    font-size: 14px;
    margin-top: -3px;
}

#footer{
    width: 100%;
    border: 2px solid transparent;
    background-color: rgb(230,230,230);
    padding: 30px 0 30px 0;
}
#line1{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    margin-left: 30px;
    letter-spacing: 4px;
    font-weight: 400;
}
#line2{
    width: 60%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-left: 30px;
}
#line2>div:last-child>div{
    width: 20%;
    display: flex;
    justify-content: space-between;
}
#line2>div:last-child>div>a>img{
 width: 25px;
 height: 25px;   
}
#line3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
margin: auto;
}
#line3>img{
    width: 15%;
    height: 10%;
}


/* ------------------------------------------------footer ----------------------------------------------------------- */
/* ------------below nav div--------------------- */

#belownav{
    display: flex;
    background-color: black;
    color: white;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}
/* --------------------product name row --------------------------------------*/
#cname{
    width: 20%;
    margin: auto;
    text-align: center;
}
h1{
    font-size: 3rem;
    margin: 5px;
}
#pname{
    display: flex;
    justify-content: flex-end;
    gap: 11em;
    margin-right: 3em;
    /* background-color: red; */
    
}

/* --------------------product name row end-------------------------------------*/

/* --------------------product append div--------------------------------------*/

#gproduct{
    width: 70%;
   margin-top: 2rem;
    width: 100%;
}

#gproduct>div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 300px; */
    gap: 5rem;

}

#gproduct>div>div:first-child>div{
    margin: auto;
    width: 50%;;
    margin-top: 2%;
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
}
#gproduct>div>div:first-child>div:last-child>p,button{
    margin-bottom: -20px;
    /* border: 1px solid; */
    
}
.rbtn{
    width: 30%;
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    border-width: 0.001rem;
    border-color: gray;
}
#gproduct>div>div:first-child{
    width: 60%;
}
#gproduct>div>div>img{
    width: 40%;
    height: 100%;
}

#gproduct>div>div{
    display: flex;
    width: 30%;
}
#gproduct>div>div:nth-child(2){
    width: 50%;
    margin-left: 12rem;
    gap: 2rem;
    justify-content: space-around;
}
#gproduct>div>div>#gp{
    width: 100%;
    display: flex;
    gap: 15px;
}
/* ------------------------item div---------------- */
.item{
    background-color: red;
}
#gautam{
    display: flex;
    gap: 15px;
    padding: 5px;
}
#gautam>div:nth-child(2){
    text-align: center;
} 
#gautam>div>i:hover{
    background-color: black;
    color: white;
}
del{
    margin-top: 20px;
}

/*-------------------------------item div end------------------------  */
/* --------------------------------------append div end------------------------------------------------- */
#sub{
    width: 100%;
    margin-top:20px;
    margin-bottom: 30px;
}
#subt{
    display: flex;
    justify-content: flex-end;
    gap: 19%;
    margin-right: 3%;
    margin-bottom: 10px;
}

#btn{
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    margin-top: 20px;
    margin-right: 3%;
}
#btn>.sbtn{
    width: 10%;
    gap: 30px;
    height: 40px;
    cursor: pointer;
    
}
#btn>.sbtn:last-child{
    background-color: black;
    color:white
}
hr{
    border: 0.001rem solid lightgray;
}
a{
    text-decoration: none;
    color: white;
}
#text{
    text-align:center;
    margin: auto;
    margin-block-end: 2px;
    margin-left: 70%;

    /* margin-right: 3%; */
}