*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100%;
    display: flex;
    gap: 5%;

}
#first{
    margin-left: 10%;
    width: 40%;
}
/* --------------------------bluefly logo ------------------------------------ */
#logo{
    margin-top: 5%;
    margin-bottom: 3%;
}
#ex{
    text-align: center;
    margin-top: 15px;
}

/* -----------------------------------cart text inform ------------------- */

#carte{
    display: flex;
    gap: 20px;
}
/* -------------------------------------------payment logo------------------------- */


#gbtn{
    border: 1px solid gray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2%;
    padding: 10px 10px 10px 0px;
    margin: 10px 0 30px 0;
    margin-right: 2%;

}
.pay{
    /* border: 3px solid; */
    height: 42px;
    width: 30%;
    border-radius: 4px;
}
.pay>a>img{
    height: 100%;
    width: 100%;
    border-radius: 4px;
}

/* -----------------------------------br line------------------------------------- */

#br{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    align-items: center;
    gap: 0px;
}
#br>div:first-child{
    width: 135%;
}
#br>div:nth-child(2){
    margin: auto;
    width: 10%;

}
#br>div:last-child{
    width: 130%;
    margin-left: -35%;
}
/* ---------------------------------contact --------------------------------- */
#con{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    margin-left: 0px;
    margin-bottom: 10px;
}
#con>p:first-child{
    font-size: 20px;
}
/* --------------------- form-------input fields---------------------------------------- */
#form{
width: 100%;
}
#email,#country,#address,#Apartment,#phone{
width:96.5%;
height: 40px;
padding-left: 10px;
margin: 10px 0px;
}
#check{
    color: gray;
    font-size: 18px;
}
#ship{
    font-size: 20px;
    margin: 20px 0px ;
}
#name{
    display: flex;
    gap: 4%;
    margin: 15px 0px;
}
#name>input{
    height: 40px;
    width: 45%;
    padding-left: 10px;
}
#sity{
    display: flex;
    gap: 20px;
}
#sity>#state,#city,#zip{
    width: 29%;
    height: 40px;
    padding-left: 10px;
}
#sity>#state{
    height: 45px;
}
/* ------------------------------button -------------------------- */
.btb{
    display: flex;
    gap: 10%;
    margin: 20px 0px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.btb>.btt{
    border: none;
}
a{
    text-decoration: none;
    color: black;
}
.btb>#last{
    background-color: black;
    height: 60px;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 8px;
}
.btb>#last>a{
    color: #ffff;
    padding-bottom: 20px;
}
/* ------------------------------------------refund plociy ------------------------ */
#ref{
    display: flex;
    gap: 20px;
    margin-top: 40px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 20px;
}

/* ------------------------------------second div======================== */
#second{
    border-left: 1px solid gray;
    width: 50%;
    background-color:rgba(243, 242, 237, 0.667);
}

/* ---------------------------------------prroduct div-------------------------- */
#insecd{
    width: 60%;
    /* border: 1px solid green; */
    margin-left: 8%;
    margin-top: 40px;
}
#inp{
    display: flex;
    gap: 20px;
    margin: 20px 0px;
}
#inp>#gift{
    width:75%;
    height: 40px;
    border:1px solid gray;
    border-radius: 5px;
    padding-left: 10px;
}
#apply{
    width:20%;
    height: 45px;
    background-color: #c8c8c8;
    color: #ffff;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    border:none;
    cursor: pointer;
}

#subt,#shipping,#tusd{
    display: flex;
    justify-content: space-between;
    color: gray;
    margin: 10px 0px;
}
#subprice,#usd{
    font-size: 20px;
    font-weight:bold;
    color: black;
}

/* -----------------------media query ----------------------------- */
@media all and (max-width: 479px){
    body{
        display: block;
        width: 100%;  
        font-size: 12px;
    
    }
    #first,#second{
        width: 100%;
        font-size: 10px;
        margin: 2px;
        padding: 0px;
    }
}
@media all and  (min-width: 480px)  and (max-width: 719px){
    body{
        display: flex;
        width: 100%;  
    }
    #first,#second{
        width: 40%;
        font-size: 10px;
        margin: 2px;
        padding: 0px;
        font-size: 12px;
    }
}
