body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#cardAboveFooter{
    width: 97%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 30px;
}
#cardAboveFooter>div>a>img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
#cardAboveFooter>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cardAboveFooter>div>h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    
}
#cardAboveFooter>div>h2+p{
    margin-top: -10px;
}
#cardAboveFooter>div>a{
    text-decoration: none;
    color: black;
}
#cardAboveFooter>div>a>p{
    border: 1px solid dimgray;
    padding: 5px;
    width: fit-content;
    letter-spacing: 4px;
    font-size: 14px;
    margin-top: -3px;
}

#footer{
    width: 100%;
    border: 2px solid transparent;
    background-color: rgb(230,230,230);
    padding: 30px 0 30px 0;
}
#line1{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    margin-left: 30px;
    letter-spacing: 4px;
    font-weight: 400;
}
#line2{
    width: 60%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-left: 30px;
}
#line2>div:last-child>div{
    width: 20%;
    display: flex;
    justify-content: space-between;
}
#line2>div:last-child>div>a>img{
 width: 25px;
 height: 25px;   
}
#line3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
margin: auto;
}
#line3>img{
    width: 15%;
    height: 10%;
}
/*day-3 --=-------------------------------------------------------- */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    display: flex;
    align-items: flex-start;
  }
  #img-div{
    width: 65%;
  }
  #details-div{
    width: 35%;
  font-size: 18px;
  }
  #details-div>p{
    line-height: 30px;
  }
  #details-div>button{
    width: 90%;
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px;
  }
  #details-div>button:hover{
    background-color: rgb(30, 30, 30);
  }
  #img-div>img{
    width: 60%;
    height: 600px;
    object-fit: cover;
  }
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  /* ------------------------day-3--------------------------- */
  #top-section{
    margin: auto;
    width: 95%;
    border: 1px solid transparent;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 470px;
   gap: 20px;
  }
  #top-section>div{
    position: relative;
    box-sizing: border-box;
    border: 2px solid transparent;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #top-section>div>h3{
    letter-spacing: 2px;
  }
  #top-section>div>img{
    width: 90%;
    height: 80%;
  }
  #myBtn{
    position: absolute;
    top: 70%;
    display: none;
    width: 90%;
    background-color: black;
    color: white;
    height: 40px;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 6px;
  }
  #top-section>div:hover #myBtn{
    display: block;
  }
  .priceDiv{
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  .priceDiv>p:first-child{
  text-decoration: line-through;
  }
  .priceDiv>p:last-child{
  color: red;
  }
  .ppricediv{
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  .ppricediv>p:last-child{
    color: red;
  }
  #top-section2{
    border: 2px solid transparent;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,470px);
    gap: 20px;
  }
  #top-section2>div{
    position: relative;
  border: 2px solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  #top-section2>div:hover #myBtn{
    display: block;
    
  }
  #top-section2>div>img{
    width: 90%;
    height: 80%;
  }
  .heading{
    text-align: center;
  }
  .viewAll{
    display: block;
    margin: auto;
    width: fit-content;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 100;
    padding: 10px;
    background-color: transparent;
    border: 1px solid black;
    letter-spacing: 4px;
    text-decoration: none;
    color: black;
  }
  hr{
    margin-top: 50px;
    margin-bottom: 50px;
    height: 0.5px;
  }
/* --=--------------------------------------------------------day-3 */

/* day-4--=-------------------------------------------------------- */
#shopByCategoryDiv{
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(2, 250px);
  gap: 70px 30px;
}
#shopByCategoryDiv>div>img{
  width: 100%;
  height: 100%;
  transition: 0.5s ease-out;
}
#shopByCategoryDiv>div:hover img{
  box-sizing: border-box;
  width: 105%;
  height: 105%;
  transition: 0.5s ease-out;
}
#shopByCategoryDiv>div>p{
  text-align: center;
}

#firstCardlayout{
  width: 97%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;
  gap: 20px;
}
#firstCardlayout>div>a>img{
  width: 100%;
  height: 500px;
}
#firstCardlayout>div{
  height: fit-content;
}
#firstCardlayout>div>div{
  margin-top: -300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 20px;
}
#firstCardlayout>div>div>p:first-child{
font-size: 25px;
letter-spacing: 4px;
font-weight: 400;
color: white;
font-weight: bold;
text-align: center;
}
#firstCardlayout>div>div>h1{
  font-size: 50px;
  color: white;
  margin-top: -5px;
}
#firstCardlayout>div>div>h1+p{
  font-size: 20px;
  text-align: center;
  color: white;
  margin-top: -5px;
}
#firstCardlayout>div>div>a{
  text-decoration: none;
  color: black;
  border: 1px solid white;
  background-color: white;
  padding: 10px;
  letter-spacing: 4px;
  font-weight: 700;
  font-size: 14px;
  margin-top: -5px;
}

/* --=--------------------------------------------------------day-4 */