#navbar {
  margin-top: 2%;
  background-color: #ffffff;
  cursor: pointer;
}
#first {
  display: flex;
}
#tabs {
  display: flex;
  margin: auto;
  justify-content: space-around;
  width: 85%;
  height: 10%;
  margin-top: 1%;
}
#clearance {
  margin-top: -1%;
  display: inline-block;
  height: 7%;
  margin-left: 45%;
  position: relative;
  color: #ff0000;
}

#clearance:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#clearance:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.logo {
  margin-left: 35%;
}
.q-p-c {
  display: flex;
  width: 30%;
  justify-content: end;
  align-items: center;
  /* align-items: center; */
}
#tabs > p:nth-child(1),
p:nth-child(2),
p:nth-child(3),
p:nth-child(4),
p:nth-child(5),
p:nth-child(6),
p:nth-child(7),
p:nth-child(8) {
  display: inline-block;
  position: relative;
  color: #000000;
}

#tabs > p:nth-child(1):after,
p:nth-child(2):after,
p:nth-child(3):after,
p:nth-child(4):after,
p:nth-child(5):after,
p:nth-child(6):after,
p:nth-child(7):after,
p:nth-child(8):after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#tabs > p:nth-child(1):hover:after,
p:nth-child(2):hover:after,
p:nth-child(3):hover:after,
p:nth-child(4):hover:after,
p:nth-child(5):hover:after,
p:nth-child(6):hover:after,
p:nth-child(7):hover:after,
p:nth-child(8):hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#query {
  display: flex;
  align-items: center;
}
#profile,
#cart {
  margin-right: 10px;
  margin-left: 10px;
}
input[type="text"] {
  height: 40px;
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  border: 1px grey solid;
}

input[type="text"]:focus {
  width: 15rem;
}
/* tab hover */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #ffffff;
  color: #0f0f0f;
  text-align: center;
  /* border-radius: 6px; */
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
