#loinform {
    margin: auto;
    width: 30%;
    box-sizing: border-box;
    /* border: 1px solid red; */
    text-align: center;
    text-transform: uppercase;
    /* padding: 10px; */
  }
  .input {
    width: 98%;
    height: 25px;
    margin-top: -15px;
    margin-bottom: 30px;
  }
  #loinform label {
    display: flex;
    justify-content: left;
  }
  #submit {
    width: 100%;
    height: 40px;
    color: white;
    background-color: black;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 13px;
    padding: 13px 20px;
  }
  #checkbox {
    display: flex;
    /* border: 1px solid red; */
    align-items: center;
    padding: 0px 10px;
    font-size: 13px;
    justify-content: space-around;
  }
